/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/


.hidden {
    display: none!important;
  }

.flex {
    display: flex;
}

header {
    background-color: #0fb9b1;
    height: 50px;
}

body {
    background-image: url("/assets/burger-friends.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    border: solid cyan 10px;
    height: 100vh;
}
.login-view-left-section {
    display: hidden;
}
.main-page-view {
    
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.login-view-left-section {
    background-color: grey;
    width: 30%;
    height: 400px;
    border: solid red 10px;
    float: left;
}

.main-section {
    margin-top: 100px;
}
.left-section {
    background-color: grey;
    opacity: 0.75;
    width: 300px;
    height: 400px;
    border: solid;
    float: left;
}

.right-section {
    background-color: grey;
    opacity: 0.75;
    width: 300px;
    height: 400px;
    border: solid;
    float: right;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }