/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/


header {
    background-color: #0fb9b1;
    height: 50px;
}

body {
    background-image: url("/assets/burger-friends.jpg");
    background-size: cover;
    margin: 0px;
    border: solid cyan 10px;

}

.main-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    border: solid red 10px;
    top: 300;
}
.left-section {
    background-color: grey;
    width: 30%;
    height: 400px;
    border: solid;
    float: left;
}

.right-section {
    background-color: grey;
    width: 30%;
    height: 400px;
    border: solid;
    float: right;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }